:root{
  background-color: white;
  --z-index-side-panel: 2;
  --z-index-note-editor: 2;
  --z-index-bottom-bar: 1;
  --z-index-tags-editor-container: 3;
  --z-index-modal-background: 7000;
  --z-index-modal: 7001;
  /*Ver bien, porque el DnD tiene como 5000 de z-index, estos quiza deberian arrancar en 6000*/
}

body {
  font-family: 'Noto Sans', serif;
  font-size: 18px;
}

.modal-background{
  z-index: var(--z-index-modal-background);
  background: rgba(10,10,10,0.6);
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  position:fixed;
}
.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  background-color: white;
  z-index: var(--z-index-modal); 
  position:fixed;
}

.tag-filter-container{
  display: flex;
}
.tag-filter-input{
  flex: 1 1 auto;
  width: 40px;
}
.tag-filter-button{
  flex: 0 0 auto;
}

.side-panel{
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: var(--z-index-side-panel);
    top: 0;
    left: 0;
    background-color: red;
    overflow-x: hidden;
    transition: 0.3s;
  }
.side-panel-show{
  width: 100px;
}
.tags-editor-container{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: var(--z-index-tags-editor-container);
  top: 0;
  right: 0;
  background-color: orange;
  overflow-x: hidden;
  transition: 0.1s;
}
.tags-editor-container-show{
  width: 100%;/*no lo estoy usando ahora...*/
}
.note-editor{
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: var(--z-index-note-editor);
  top: 0;
  right: 0;
  background-color: yellow;
  overflow-x: hidden;
  transition: 0.1s;
}
.note-editor-show{
  width: 100%;
}
.bottom-bar{
  background-color: orange;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  z-index:var(--z-index-bottom-bar);
  display:flex;	
  height:50px;
  box-shadow: 0 -2px 5px -2px #333;
}

.noteCard{
  border: 1px solid transparent;
  border-color: #e0e0e0;
  border-radius: 8px;
  margin: 6px;
}